<html>
<head>
<script type="text/javascript">
    function validate() {
        let username = document.getElementById('username');
        if (username.value <= 15) {
            alert("Username field");
            document.getElementById("username_error").innerHTML = "something to do";
            return false;
        }
        return true;
    }
</script>
</head>
<body>
<center>
<form method="post" name="featherlight" onsubmit="return validate()">
    <p>Username: <input id='username' name="username">
    <div id="username_error"></div>
    <p>Email: <input name="email">
    <p>Password: <input name="password">
    <p>Confirm password: <input name="confirm_password">
    <p><input type="submit" value="submit" id="submit_button" disabled>
</form>
<script type="text/javascript">
    featherlight_form = document.forms.featherlight;

	//var form = document.querySelector('form');
	featherlight_form.addEventListener('change', function() {
        let username = document.getElementById('username');
        if (username.value.length <= 15) {
            document.getElementById("username_error").innerHTML = "Username field needs to be greater than 15 characters.";
        } else {
            document.getElementById("username_error").innerHTML = "";
        }

		document.getElementById('submit_button').disabled = false;
	});
</script>
</center>
</body>
</html>
